# Created by https://www.toptal.com/developers/gitignore/api/java,gradle,intellij

.idea/

cmake-build-*/

*.iws

out/

.idea_modules/

atlassian-ide-plugin.xml

com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties



*.iml
modules.xml
*.ipr

*.class

*.log

*.ctxt

.mtj.tmp/

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*
replay_pid*

.gradle
**/build/
!src/**/build/

gradle-app.setting

!gradle-wrapper.jar

!gradle-wrapper.properties

.gradletasknamecache

.project
.classpath

*.hprof

.DS_Store